* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #111111;
}

.container {
  text-align: center;
  margin: 2rem 0rem;
}
.btn {
  padding: 15px 25px;
  border: none;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-wrapper > div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
label {
  font-size: 2rem;
}
.withobj, .witharr{
  margin-top: 2rem;
}